<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SuCri.Modul2.UI.Acad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SuCri.Modul2.UI.Acad.Properties.Settings>
            <setting name="IsDarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>German</value>
            </setting>
            <setting name="WinTopPosition" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="WinLeftPosition" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="IsProjectMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Sikla</value>
            </setting>
            <setting name="IsRegisterCmdDone" serializeAs="String">
                <value>False</value>
            </setting>
        </SuCri.Modul2.UI.Acad.Properties.Settings>
        <WPFinACAD.Properties.Settings>
            <setting name="IsDarkMode" serializeAs="String">
                <value>False</value>
            </setting>
        </WPFinACAD.Properties.Settings>
    </userSettings>
</configuration>